/*
  Copyright 2013-2017 Sébastien Ferré, IRISA, Université de Rennes 1

  This file is part of Sparklis.

  Sparklis is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Sparklis is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Sparklis.  If not, see <http://www.gnu.org/licenses/>.
*/

head, body, input, textarea, select {
    font-family: Tahoma, Geneva, sans-serif;
}

button {
    color:white;
    background-color:#646464;
    border-radius:5px;
    border: 1px solid #646464;
    font-weight:bold;
    padding: 5px 5px 0px 5px;
    margin: 0px 3px;
}
button:hover {
    color:#646464;
    background-color:white;
}

.texte
{
display:none;
}

.tooltip
{
display:none;
}

.option-label
{
display:none;
}

header
{
margin:5px 0px;
padding:5px 10px;
/*height:50px;*/
color:white;
background-image:url('sparkles_background.png');
background-repeat:repeat-x;
}

.heading
{
width:100%;
padding: 3px 3px;
margin: 5px 0px;
color:white;
background-color:#c8a0c8;
font-style:italic;
/*font-weight:bold;*/
}

.config-heading
{
}

.open-new-window
{
vertical-align:top;
}

.classURI
{
color:darkorange;
}

.propURI
{
color:darkviolet;
}

.URI
{
color:darkblue;
}

.function
{
color:green;
}

.Literal
{
color:darkgreen;
}

.nodeID
{
color:darkgrey;
}

.lisqlID
{
color:darkred;
}

.modifier
{
color:darkred;
}

#external-links
{
text-align:right;
}

#control-navig, #control-results-top, #control-results-bottom {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}
#home, #back, #forward, #refresh, .previous-results, .next-results {
    padding: 2px;
}
#refresh, .previous-results, .next-results { padding-right: 10px; }
#config-control, .next-results { padding-left: 10px; }


#sparql-endpoint
{
text-align:right;
}

#sparql-endpoint-input
{
width:300px;
}

#permalink
{
margin-left:10px;
/*
font-style:normal;
font-weight:normal;
color:blue;
text-decoration:underline;
*/
}

#lisql
{
margin:10px;
/*font-weight:bold;*/
}

.focus
{
}

.highlighted
{
background-color:#a0f0a0;
}

.suspended
{
opacity:0.3;
}

.coordination
{
list-style-type:none;
margin:0px;
}

#increments
{
}

#increments-focus
{
/*font-weight:bold;*/
}

.incr-box
{
border:4px groove #a0f0a0;
margin:5px;
float:left;
}

.pattern-incrs
{
width:155px;
}

#pattern-terms
{
width:120px;
}

.list-incrs
{
width:300px;
height:200px;
resize:both;
overflow:auto;
resize:both;
}

#list-terms
{
width:335px;
}

.list-incrs ul
{
list-style-type: none;
padding: 10px;
margin: 0px;
}
.list-incrs.css-treeview ul {
    list-style-type: none;
    padding: 0px;
}
.list-incrs.css-treeview > ul {
    padding-top: 10px;
}
.list-incrs.css-treeview ul ul {
    padding-left: 20px;
}
.list-incrs.css-treeview li {
    left-margin: 0px;
}

.increment
{
cursor:pointer;
}

.frequency-results, .frequency-entities {
    border-radius:6px;
    margin-left:10px;
    padding-left:3px;
    padding-right:3px;
    border:1px solid grey;
    color:grey;
    font-size:12px;
}
			 

.count-incrs
{
text-align:right;
}

.css-treeview input ~ ul {
    display: none; /* hiding sublists of unckecked increments */
}
.css-treeview input:checked ~ ul {
    display: block; /* showing sublists of checked increments */
}
.css-treeview input
{
  position: absolute;
  opacity: 0;
}
/* showing/hiding arrow labels depending on check status */
.css-treeview input ~ .label-checked { display:none; }
.css-treeview input:checked ~ .label-unchecked { display:none; }
.css-treeview input:checked ~ .label-checked { display:inline; }


#current-focus
{
clear:both;
}

#query
{
clear:both;
}

#results
{
clear:both;
}

#charts
{
    clear:both;
}

#list-results
{
margin:5px;
}

table
{
border-collapse:collapse;
}

table, th, td
{
border:1px solid black;
}

th, td
{
padding:4px;
}

#sparql
{
clear:both;
}

footer
{
clear:both;
}

/* examples */

.sparklis-query
{
padding:5px;
}

.sparklis-permalink
{
}