.texte
{
display:none;
}

.tooltip
{
display:none;
}

.option-label
{
display:none;
}

header
{
margin:5px 0px;
padding:5px 10px;
height:50px;
color:white;
background-image:url('sparkles_background.png');
background-repeat:repeat-x;
}

.heading
{
width:100%;
padding: 5px 5px;
margin: 5px 0px;
color:white;
background-color:#c8a0c8;
font-style:italic;
font-weight:bold;
}

.config-heading
{
}

.open-new-window
{
vertical-align:top;
}

.classURI
{
color:darkorange;
}

.propURI
{
color:darkviolet;
}

.URI
{
color:darkblue;
}

.Literal
{
color:darkgreen;
}

.nodeID
{
color:darkgrey;
}

.lisqlID
{
color:darkred;
}

.modifier
{
color:darkred;
}

#external-links
{
text-align:right;
}

#sparql-endpoint
{
text-align:right;
}

#sparql-endpoint-input
{
width:300px;
}

#permalink
{
margin-left:10px;
/*
font-style:normal;
font-weight:normal;
color:blue;
text-decoration:underline;
*/
}

#lisql
{
margin:10px;
font-weight:bold;
}

#current-focus
{
}

.focus
{
}

.highlighted
{
background-color:#a0f0a0;
}

.suspended
{
opacity:0.3;
}

.coordination
{
list-style-type:none;
margin:0px;
}

#increments
{
}

#increments-focus
{
font-weight:bold;
}

.incr-box
{
border:4px groove #a0f0a0;
margin:5px;
float:left;
}

.pattern-incrs
{
width:180px;
}

#pattern-terms
{
width:130px;
}

.list-incrs
{
width:300px;
height:200px;
resize:both;
overflow:auto;
resize:both;
}

#list-terms
{
width:335px;
}

.list-incrs ul
{
list-style-type: none;
padding: 10px;
margin: 0px;
}

.increment
{
cursor:pointer;
}

.count-incrs
{
text-align:right;
}

#results
{
clear:both;
}

#list-results
{
margin:5px;
}

table
{
border-collapse:collapse;
}

table, th, td
{
border:1px solid black;
}

th, td
{
padding:4px;
}

#sparql
{
clear:both;
}

footer
{
clear:both;
}

/* examples */

.sparklis-query
{
padding:5px;
}

.sparklis-permalink
{
}