#lisql
{
font-size:1.5em;
}

.classURI
{
color:darkorange;
}

.propURI
{
color:darkviolet;
}

.URI
{
color:darkblue;
}

.Literal
{
color:darkgreen;
}

.focus
{
background-color:lightgreen;
}

ul.list-and
{
list-style:none;
margin:0px;
}

.incr-list
{
float:left;
width:200px;
max-height:200px;
overflow:auto;
}

.increment
{
cursor:pointer;
}

#result
{
clear:both;
}

table
{
border-collapse:collapse;
}

table, th, td
{
border:1px solid black;
}

th, td
{
padding:4px;
}
